#modal {
  position: fixed;
    z-index: 10000;
    top: 100%;
    transform: translate(-50%, 0);
    left: 50%;
  margin-top: 30px;

    -webkit-transition: 1000ms ease;
       -moz-transition: 1000ms ease;
        -ms-transition: 1000ms ease;
         -o-transition: 1000ms ease;
            transition: 1000ms ease;
  }
  @media (max-width: 767px) {
    #modal {
      width: 100%; } }

  #modal .wrap {
    background-color: white;
    border: 30px solid #e6e6e6;
  }

  /*#modal img {
    width: 300px;
  }*/

#overlay {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;

  opacity: 0;

  width: 100%;
  height: 100%;
  height: 100vh;

  -webkit-transition: 1000ms all ease;
     -moz-transition: 1000ms all ease;
      -ms-transition: 1000ms all ease;
       -o-transition: 1000ms all ease;
          transition: 1000ms all ease;

  background: #333;
  background-image: url("../images/noise.gif");
  background-blend-mode: multiply;

  visibility: hidden;
}

#modal.open {
  -webkit-transform: translate(-50%, -100%);
     -moz-transform: translate(-50%, -100%);
       -o-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

#modal.open.anchored {
  max-height: 100%;
  max-height: 100vh;
}

#modal.open.anchored .content {
  overflow-y: scroll;
}

#overlay.open {
  visibility: visible;
  opacity: .35;
}
